body{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

#container{
    padding: 0;
    margin: 0;
}

footer{
    position: relative;
}

main{
    min-height: 90vh;
}